.calculator {
  width: 100vw;
  height: 95vh;
  background-color: rgb(20, 20, 20);
  /* background-color: rgb(53, 35, 165); */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .calculator {
    width: 28rem;
    height: 48rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem rgba(100, 149, 237, .8); 
  }
}