.inputDisplay {
  margin-top: 1rem;
  height: 8rem;
  width: 95%;

  text-align: right;
  background-color: rgb(25, 25, 25);
  /* background-color: rgb(152, 49, 49); */
  font-size: 5rem;
  color: white;
  border: none;
  mask-image: linear-gradient(to right, transparent, rgb(25, 25, 25) 1rem);
}

.inputDisplay:focus {
  outline: none;
}